@import './open-iconic-bootstrap';

#editor-controller-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#editor-controller-buttons {
  padding: 0.375rem 0.75rem;
}

.editor-controller-button {
  margin-right: 0.5rem;
}
